body{
    font-family: "Roboto";
}

.Headline{
    position: fixed;
    top: 0px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0.92), rgba(255,255,255,0.8), rgba(255,255,255,0.45), rgba(255,255,255,0));
    height: 15%;
    left: 0%;
    z-index: 100;
}
.logo{
    position: absolute;
    left: 20%;
}

.Content{
    position: absolute;
    height: 3000px;
    left: 0px;
    width: 100%;
}
.Topic{

    font-family: "Fugaz One";
    height: 200px;
    background: #f1c610;
    left: 0px;
    font-size: 60px;
    color: darkblue;
    text-align: center;
    z-index: 2;
}
.Caption{
    position: relative;
    top: 60px;
}
.Caption:hover{
    font-size: 65px;
}
.Zwischenbild{
    overflow: hidden;
    background-position: 0px 70%;
    background-size: 100%;
    height: 500px;
    z-index: -1;
}
.platzhalter{
    height: 100px;
}
.platzhaltersmall{
    height: 50px;
}

#zb4{
    background-image: url("https://i.imgur.com/gQJZZrU.png");
}
#zb2{
    background-image: url("https://i.imgur.com/ngNNXeb.png");
    background-position: 0px 93.3333333%;
}
#zb5{
    background-image: url("https://i.imgur.com/kB2Tpjn.png");
}
#zb1{
    background-image: url("https://i.imgur.com/kqRF0XB.png");
}
#zb3{
    background-image: url("https://i.imgur.com/fxHTpKW.png");
}

.boxleft, .boxright{
    border: rgba(255,255,255,0);
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    background: rgba(255,255,255,0.5);
    height: 400px;
    position: relative;
    left: 20%;
    margin: 20px;
}
.boxright{
    text-align: right;
    left: 30%
}
.boxright img{
    max-height: 100%;
    max-width: 45%;
    position: absolute;
    left: 0px;
    border-radius: 10px;
    top: 0px;
}
.boxleft img{
    max-height: 100%;
    max-width: 45%;
    position: absolute;
    right: 0px;
    border-radius: 10px;
    top: 0px;
}

.boxright .mehrc{
    position: absolute;
    width: 50%;
    right: 0px;
}
.boxright p.shortie {
    font-style: italic;
    position: relative;
    width: 55%;
    left: 45%;
}
.boxleft p.shortie {
    font-style: italic;
    position: relative;
    width: 55%;
}
.boxleft .mehrc{
    position: absolute;
    width: 50%;
    left: 0px;
}
.Trennlinie{
    margin: 45px;
    height: 10px;
    width: 30%;
    position: relative;
    left: 35%;
}
.bwrapper{
text-align: center;
}
.Seitenüberschrift{
    text-align:center;
    font-family: "Roboto";
}
.mehr{
    color: mediumblue;
}
.mehrc{
    display: none;
}

